# Avec docker-compose, c'est le port par lequel le service sera disponible
# Sans, c'est le port qu'utilisera l'application
APP_PORT_EXT=3003

# root de base. Si APP_ROOT=/toto, alors 
# l'application sera disponible sur http://example.com/toto/
APP_ROOT=/